{%extends 'main.html'%}
{%load static%}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src=" {{product.imageURL}}" >
       
        <div class="box-element product" style="text-align: center;" >
            <h5><strong>{{product.name}}</strong> </h5>
           
            <h5 ><strong>${{product.price|floatformat:2}}</strong></h5>
            <button data-product="{{product.id}}" data-action="add" class=" btn-outline-warning update-wish" > wishlist  </button>
            
            

            <a href="#" class=" btn btn-success mr-sm-2">view</a>
            
             <button data-product="{{product.id}}" data-action="add" class=" btn btn-success mr-sm-2 update-cart">Add to cart</button>
            
            
        </div>
      </div>
      
     {% endfor %}
     <!-- <script type="text/javascript">
        document.getElementById('update-wish').addEventListener('click',function(e){
    wishData()
})
 function wishData(){
     console.log("wishbutton button clicked..") -->
  
    </script>
      </div>
      
     
    
   
     
{% endblock %}




