{%extends 'main.html'%}
{%load static%}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src=" {{product.imageURL}}" >
       
        <div class="box-element product" style="text-align: center;">
            <h5><strong>{{product.name}}</strong> </h5>
           
            <h5 ><strong>${{product.price|floatformat:2}}</strong></h5>
            <a href="#" class=" btn btn-success mr-sm-2">view</a>
            <button href="#" class=" btn btn-success mr-sm-2">Add to cart</button>
            
            
        </div>
      </div>
     {% endfor %}
      </div>
     
{% endblock %}




